<ion-view view-title="Bookmark" ng-controller="ViewCtrl">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/2.jpg">
                <h2>Simple Starter</h2>
                <p>November 08, 2015</p>
            </div>

            <div class="item item-body">
                <p>
                    Simple Starter
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">0 Bookmark</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="javascript:void(0)">
                    <i class="icon ion-trash-a"></i>
                    Delete
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
