<ion-view view-title="Simple Starter" ng-controller="ViewCtrl">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/2.jpg">
                <h2>Simple Starter</h2>
                <p>November 08, 2015</p>
            </div>

            <div class="item item-body">
                <p>
                    Simple Starter Contents
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">0 Bookmark</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="javascript:void(0)" ng-click="doLike()">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="javascript:void(0)" ng-click="registerBookmark()">
                    <i class="icon ion-bookmark"></i>
                    BookMark
                </a>
            </div>

        </div>
    </ion-content>

</ion-view>
