<ion-view view-title="My List">
    <ion-content>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/1.jpg" />
        <h2>Simple Starter</h2>
        <p>November 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/2.jpg" />
        <h2>Simple Starter</h2>
        <p>November 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/3.jpg" />
        <h2>Simple Starter</h2>
        <p>November 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/4.jpg" />
        <h2>Simple Starter</h2>
        <p>November 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/5.jpg" />
        <h2>Simple Starter</h2>
        <p>November 08, 2015</p>
      </div>
      <div class="item item-avatar" on-tap="onTap(1)" on-hold="onHold()">
        <img src="img/1.jpg" />
        <h2>Simple Starter</h2>
        <p>November 08, 2015</p>
      </div>
    </ion-content>
</ion-view>
